.Skull-button {
  color: #cccccc;
  font-size: 10em;
  background-color: #383e4a;
  display: flex;
  cursor: pointer;
}

.Skull-button:hover{
  background-color: #4f5768;
  color: #ffffff;
}

.Skull-button:active{
  background-color: #5b667d;
  color: #ffffff;
}