.Confirmation {
  position: absolute;
  top: 0;
  left: 0;

  min-width: 100%;
  min-height: 100%;

  background-color: #000000aa;
}

.Confirmation-container {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translate(0, -50%);

  background-color: #16181d;
  font-size: calc(var(--bar-size) - 40px);
  line-height: var(--bar-size);
}

.Confirmation-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  align-items: center;
  justify-content: center;

  color: #00997340;

  border-width: 0;

  margin: 0;
  padding: 0;
  outline: none;

  color: var(--font-color);
}

.Confirmation-buttons > * {
  width: 100%;
  cursor: pointer;
}

.Confirmation-buttons #Accept {
  background-color: darkgreen;
}

.Confirmation-buttons #Cancel {
  background-color: darkred;
}
