.Footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: var(--footer-size);
  background-color: #16181d;
  font-size: calc(var(--footer-size) - 40px);
  line-height: var(--footer-size);
}

.Footer-container {
  max-width: 500px;
  margin: auto;

  grid-auto-rows: minmax(var(--footer-size), auto);
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(2, 1fr);
}
