.Grid {
  display: grid;
  grid-gap: 20px;
  grid-auto-rows: minmax(var(--button-size), auto);
  grid-template-columns: repeat(1, 1fr);
  max-width: var(--button-size);

  margin: auto;
}

@media screen and (min-width: calc(2 * (150px + 20px) + 40px)) {
  .Grid {
    max-width: calc(2 * (var(--button-size) + 15px));
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: calc(3 * (150px + 20px) + 40px)) {
  .Grid {
    max-width: calc(3 * (var(--button-size) + 15px));
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: calc(4 * (150px + 20px) + 40px)) {
  .Grid {
    max-width: calc(4 * (var(--button-size) + 15px));
    grid-template-columns: repeat(4, 1fr);
  }
}

.Grid-button {
  font-size: 6em;
  display: flex;
  cursor: pointer;

  width: var(--button-size);
  height: var(--button-size);
  border-radius: calc(var(--button-size) / 10);

  box-sizing: border-box;
  /* border-style: solid; */
  /* border-color: red; */
  /* border-width: 5px; */

  color: var(--background-color);
}

.Grid-button:hover{
  filter: brightness(125%);
}

.Grid-button:active{
  filter: brightness(125%);
}
