.Grid {
  display: grid;
  grid-gap: 20px;
  grid-auto-rows: minmax(var(--button-size), auto);
  grid-template-columns: repeat(1, 1fr);
  max-width: var(--button-size);

  margin: auto;
}

@media screen and (min-width: calc(2 * (150px + 10px) + 40px)) {
  .Grid {
    max-width: calc(2 * (var(--button-size) + 10px));
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: calc(3 * (150px + 10px) + 40px)) {
  .Grid {
    max-width: calc(3 * (var(--button-size) + 10px));
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: calc(4 * (150px + 10px) + 40px)) {
  .Grid {
    max-width: calc(4 * (var(--button-size) + 10px));
    grid-template-columns: repeat(4, 1fr);
  }
}

.Grid-button {
  font-size: 6em;
  display: flex;
  cursor: pointer;

  background-color: var(--shade-2);
}

.Grid-button:hover{
  color: var(--font-color-accent);
  background-color: var(--shade-3);
}

.Grid-button:active{
  color: var(--font-color-accent);
  background-color: var(--shade-4);
}
