.Confirmation-inputs {
  display: flex;
}

@media screen and (max-width: 760px) {
  .Confirmation-inputs {
    flex-direction: column;
  }
}

.Confirmation-input {
  display: block;
  flex-grow: 1;
  text-align: left;
  margin: 20px 20px 0 20px;
}

.Confirmation-input:last-child {
  margin-bottom: 20px;
}

.Confirmation-input input, select {
  display: block;
  appearance: none;

  background: white;

  width: 100%;
  font-size: 100%;
  font-weight: bold;

  box-sizing: border-box;
  padding: 12px 20px;
  margin-top: 10px;

  border-width: 1px;
  border-style: solid;
  border-color: #cccccc;
  border-radius: 4px;
}
