.Confirmation-inputs {
  display: block;
}

@media screen and (min-width: 768px) {
  .Confirmation-inputs {
    display: flex;
  }
}

.Confirmation-input {
  display: block;
  text-align: left;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
}

.Confirmation-input input, select {
  display: block;

  width: 100%;
  font-size: 100%;
  font-weight: bold;

  box-sizing: border-box;
  padding: 12px 20px;
  margin-top: 10px;

  border-width: 1px;
  border-style: solid;
  border-color: #cccccc;
  border-radius: 4px;
}

.Confirmation-input .react-datepicker-wrapper, .react-datepicker__input-container {
  display: block;

  width: 100%;
  font-size: 100%;
  font-weight: bold;
}
