.Skull-button {
  font-size: 6em;
  display: flex;
  cursor: pointer;
  
  background-color: var(--shade-2);
}

.Skull-button:hover{
  color: var(--font-color-accent);
  background-color: var(--shade-3);
}

.Skull-button:active{
  color: var(--font-color-accent);
  background-color: var(--shade-4);
}