.Skull-button {
  font-size: 10em;
  display: flex;
  cursor: pointer;
  
  background-color: #383e4a;
}

.Skull-button:hover{
  color: var(--font-color-accent);
  background-color: #4f5768;
}

.Skull-button:active{
  color: var(--font-color-accent);
  background-color: #5b667d;
}