.Summary {
  width: 100%;
  border-collapse: collapse;
  text-align: left;

  margin: auto;
  padding-bottom: var(--footer-size);
}

.Summary th {
  padding: 12px;

  font-weight: bolder;

  background-color: var(--shade-0);
}

.Summary td {
  padding: 8px;
}

.Summary #icon {
  padding: 0;
  width: 1em;
  text-align: center;
}

.Summary #delete {
  color: tomato;
  cursor: pointer;
}

.Summary tr {
  background-color: var(--shade-1);
}

.Summary tr:nth-child(even) {
  background-color: var(--shade-2);
}

.Summary tr:hover {
  background-color: var(--shade-3);
}

