.Summary {
  width: 100%;
  border-collapse: collapse;
  text-align: left;

  margin: auto;
}

.Summary th {
  padding: 12px;

  font-weight: bolder;

  background-color: var(--shade-0);
}

.Summary td {
  padding: 8px;
}

.Summary #icon {
  padding: 0;
  width: 1em;
  text-align: center;
}

.Summary #delete {
  color: tomato;
  cursor: pointer;
}

.Summary tr#dark, .Summary tr#bright {
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.Summary tr#dark {
  background-color: var(--shade-1);
  border-bottom-color: var(--shade-2);
}

.Summary tr#bright {
  background-color: var(--shade-2);
  border-bottom-color: var(--shade-1);
}

.Summary tr#dark:hover, .Summary tr#bright:hover {
  background-color: var(--shade-3);
}

#next {
  font-size: 2em;
  padding-top: 12px;
  cursor: pointer;
}
